doctype html
html
    head
        meta(charset='UTF-8')
        title='bbAMP'
        link(rel='stylesheet' href='../css/fontawesome-all.min.css')
        link(rel='stylesheet' href='../css/general.css')
    body
        span#ffdownloadlabel='Downloading the latest ffplay binary..'